# 서울 스타벅스 매장 위치정보 데이터 수집

In [1]:
# 라이브러리 불러오기
import requests
import pandas as pd

In [2]:
# 수집할 url, form_data 링크 가져오기
url = "https://www.starbucks.co.kr/store/getStore.do?r=PHQXAAQE4U"
params = "in_biz_cds=0&in_scodes=0&ins_lat=37.56682&ins_lng=126.97865&search_text=&p_sido_cd=01&p_gugun_cd=&isError=true&in_distance=0&in_biz_cd=&iend=1000&searchType=C&set_date=&rndCod=SCR6WY2P6S&all_store=0&T03=0&T01=0&T27=0&T12=0&T09=0&T30=0&T05=0&T22=0&T21=0&T10=0&T36=0&T43=0&T48=0&P10=0&P50=0&P20=0&P60=0&P30=0&P70=0&P40=0&P80=0&whcroad_yn=0&P90=0&new_bool=0"

In [3]:
# requests로 html 문서 가져오기
res = requests.post(f"{url}?{params}")
res

In [4]:
# json 형태의 타입 데이터를 새 변수에 저장
starbucks_seoul_store_info = res.json()['list']

In [5]:
# 필요한 컬럼만 모아 데이터프레임 형태로 변경
df = pd.DataFrame(starbucks_seoul_store_info)[["s_code", "s_name", "tel", "sido_code", 
                                      "sido_name", "gugun_code", "gugun_name",
                                     "addr", "lat", "lot"]]

In [6]:
# 데이터 확인
df.shape

(553, 10)

In [7]:
df.head()

,s_code,s_name,tel,sido_code,sido_name,gugun_code,gugun_name,addr,lat,lot
0,1509,역삼아레나빌딩,1522-3232,01,서울,0101,강남구,서울특별시 강남구 역삼동 721-13 아레나빌딩,37.501087,127.043069
1,1434,논현역사거리,1522-3232,01,서울,0101,강남구,서울특별시 강남구 논현동 142-2 정일빌딩,37.510178,127.022223
2,1595,신사역성일빌딩,1522-3232,01,서울,0101,강남구,서울특별시 강남구 논현동 18-4 성일빌딩,37.514132,127.020563
3,1527,국기원사거리,1522-3232,01,서울,0101,강남구,서울특별시 강남구 역삼동 648-22 동찬빌딩,37.499517,127.031495
4,1468,스탈릿대치R,1522-3232,01,서울,0101,강남구,서울특별시 강남구 대치동 599 대원빌딩,37.494668,127.062583

In [8]:
df.tail()

,s_code,s_name,tel,sido_code,sido_name,gugun_code,gugun_name,addr,lat,lot
548,838,사가정역,1522-3232,01,서울,0125,중랑구,서울특별시 중랑구 면목동 617-2,37.579594,127.087966
549,493,상봉역,1522-3232,01,서울,0125,중랑구,"서울특별시 중랑구 상봉동 100-2,3,4번지",37.59689,127.08647
550,363,묵동이마트,1522-3232,01,서울,0125,중랑구,서울특별시 중랑구 묵동 170-1 묵동자이아파트 (묵동이마트 B1층),37.613433,127.077484
551,1668,묵동,1522-3232,01,서울,0125,중랑구,서울특별시 중랑구 묵동 169-12 1층,37.615368,127.076633
552,1749,중화역,1522-3232,01,서울,0125,중랑구,"서울특별시 중랑구 중화동 306-68 중화동 HS빌딩 1,2층",37.60170912407773,127.07841136432036

In [10]:
# 데이터 저장
file_name = "starbucks_seoul_data.csv"
df.to_csv(file_name, index=False)

In [11]:
# 저장된 데이터 확인
pd.read_csv(file_name)

,s_code,s_name,tel,sido_code,sido_name,gugun_code,gugun_name,addr,lat,lot
0,1509,역삼아레나빌딩,1522-3232,1,서울,101,강남구,서울특별시 강남구 역삼동 721-13 아레나빌딩,37.501087,127.043069
1,1434,논현역사거리,1522-3232,1,서울,101,강남구,서울특별시 강남구 논현동 142-2 정일빌딩,37.510178,127.022223
2,1595,신사역성일빌딩,1522-3232,1,서울,101,강남구,서울특별시 강남구 논현동 18-4 성일빌딩,37.514132,127.020563
3,1527,국기원사거리,1522-3232,1,서울,101,강남구,서울특별시 강남구 역삼동 648-22 동찬빌딩,37.499517,127.031495
4,1468,스탈릿대치R,1522-3232,1,서울,101,강남구,서울특별시 강남구 대치동 599 대원빌딩,37.494668,127.062583
...,...,...,...,...,...,...,...,...,...,...
548,838,사가정역,1522-3232,1,서울,125,중랑구,서울특별시 중랑구 면목동 617-2,37.579594,127.087966
549,493,상봉역,1522-3232,1,서울,125,중랑구,"서울특별시 중랑구 상봉동 100-2,3,4번지",37.596890,127.086470
550,363,묵동이마트,1522-3232,1,서울,125,중랑구,서울특별시 중랑구 묵동 170-1 묵동자이아파트 (묵동이마트 B1층),37.613433,127.077484
551,1668,묵동,1522-3232,1,서울,125,중랑구,서울특별시 중랑구 묵동 169-12 1층,37.615368,127.076633
552,1749,중화역,1522-3232,1,서울,125,중랑구,"서울특별시 중랑구 중화동 306-68 중화동 HS빌딩 1,2층",37.601709,127.078411